* {
    box-sizing: border-box;
}
body, input, select, button, textarea {
    font-family: 'Lato', Verdana, 'Geneva', Tahoma, sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: var(--normal);
}

h1 {font-size: 2rem;}
h2 {font-size: 1.6rem;}
h3 {font-size: 1.4rem;}
h4 {font-size: 1.2rem;}
h5 {font-size: 1rem;}
h6 {font-size: .75rem;}

.flex-column {
    flex-direction: column;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.font-75-percent {
    font-size: 75%;
}
