body {
    box-sizing: border-box;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}
a, button, div, input, select, span {
    font-size: 16px;
}

h1, h2, h3 {
    margin: 0;
}

a, div, input, select, span {
    color: #333;
}

.flex-column {
    flex-direction: column;
}

.font-bold {
    font-weight: bold;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.font-75-percent {
    font-size: 75%;
}
